/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

/* hides this  <div id="tag-3" class="slick wicked"></div> */
div#wall #tag-3.slick.wicked {
  display: none;
}

.parent #tag-4 {
  display: none;
}